.basset {
  background-color: burlywood;
  background-image: url("./assets/basset_phone2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.basset h1 {
  color: chocolate;
  font-family: 'Barlow Semi Condensed';
}

.basset h1 {
  color: transparent;
  /* text-shadow: black; */
  text-decoration: none;
  font-family: sans-serif;
  filter: brightness(130%);
  text-shadow: 0 0 2px #432818, 0 0 22px #432818;
}

.basset h2 {
  font-family: sans-serif;
  font-size: x-large;
  text-shadow: 0 0 2px #432818;
  color: transparent;
  /* box-shadow: 0 0 4px #432818;
  border: 2px solid transparent; */
  border-radius: 25px;
  padding: 20px;
  /* width: 50%; */
}

.basset button {
  background-color: #432818;
}

.basset footer {
  color:#432818;
}

/* a {
  color: #ecad88;
} */