.paul {
    background-image: url("./assets/paul5.png");
    background-attachment: fixed;
    background-size: 100%;
  }
  
  .paul h1 {
    color: transparent;
    /* text-shadow: black; */
    text-decoration: none;
    font-family: sans-serif;
    filter: brightness(130%);
    text-shadow: 0 0 4px rgb(196, 126, 42), 0 0 22px rgb(196, 126, 42);
  }
  
  .paul h2 {
    font-family: sans-serif;
    font-size: x-large;
    text-shadow: 0 0 2px rgb(207, 139, 55), 0 0 22px rgb(207, 139, 55);
    color: transparent;
    /* box-shadow: 0 0 4px rgb(18, 9, 34), 0 0 22px rgb(168, 8, 128); */
    /* border: 2px solid transparent; */
    border-radius: 25px;
    padding: 20px;
  }
  
  .paul button {
    background-color: rgb(170, 100, 14);
  }
  
  /* .paul .nav-link {
    color: rgb(133, 84, 219);
  } */