.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */

.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: #eb2a10;
  text-decoration: none;
}

a:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: #f0afa6;
  position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.logo {
  position: absolute;
  left: 47%;
  margin-left: -150px !important;
  margin-top: 70px;
  display: block;
}

.btn-info {
  background-color: transparent;
  border-color: #000000;
}

h1 {
  color: transparent;
}

#wrapper img {
  box-sizing: border-box;
  size: 50px;
  border-style: solid;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  border: 2px black;
}

body {
  margin: 0;
  text-align: center;
}

.rave {
  background-color: #f00;
}

.rave h1 {
  color: blue;
  text-decoration: none;
  font-family: sans-serif;
  filter: brightness(100%);
  text-shadow: 0 0 0;
}

.light-theme {
  background-color: wheat;
  /* background: url(./assets/hotel.png); */
}

.light-theme h1, h2 {
  color: black;
}

.basset {
  background-color: burlywood;
}

.basset h1 {
  color: chocolate;
}

.dark-theme {
  background-color: black;
  color: transparent;
  text-decoration: none;
  font-family: sans-serif;
  filter: brightness(130%);
  text-shadow: 0 0 4px rgb(9, 146, 43), 0 0 22px rgb(2, 95, 38);
}

.lovecraft {
  background-image: url("./assets/cthulhu.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

.lovecraft h1 {
  color: transparent;
  /* text-shadow: black; */
  text-decoration: none;
  font-family: sans-serif;
  filter: brightness(130%);
  text-shadow: 0 0 4px rgb(9, 146, 43), 0 0 22px rgb(2, 95, 38);
}

.lovecraft h2 {
  font-family: sans-serif;
  font-size: x-large;
  text-shadow: 0 0 2px rgb(9, 146, 43), 0 0 22px rgb(2, 95, 38);
  color: transparent;
  box-shadow: 0 0 4px rgb(9, 146, 43), 0 0 22px rgb(2, 95, 38);
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 20px;
}

.lovecraft .btn-info {
  background-color: darkgreen;
}

.lovecraft .nav-link {
  color: darkgreen;
}

.button-container {
  display: flex;
  margin: 0 auto;
}

.top {
  background-color: transparent;
  height: 80px;
}

.col3 {
  margin-top: -6px;
}

.img-fluid {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border: 10px;
  border-color: transparent;
  border-radius: 25px;
}