body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: black; */
}
=======
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
>>>>>>> ff4b2745f2fec145b177c81222e82c8f9f3e1dc9
