.dark-theme {
    background-color: black;
  }

  .dark-theme .logo {
    position: absolute;
    left: 47%;
    margin-left: -160px !important;
    margin-top: 70px;
    display: block;
  }

/* logo */
.dark-theme h1 {
    font-size: 64px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent !important;
    color: white !important;
    transition: all .3s ease-in-out;
    border-color: white;
    text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green
}

/* search field border */
.dark-theme input {
    border-color: yellow;
  }


/* buttons */
.dark-theme button {
    font-size: 12px;
    border-radius: 2px;
    cursor:pointer;
    font-family: 'astro', Fallback, sans-serif;
    background-color: #1d1d25 !important;
    border: 0.5px solid white !important;
    color: white !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: inset 0px 0px 8px 3px white; 
    box-shadow: 0px 0px 5px 1px white, inset 0px 0px 5px 0px white;
    -webkit-transition: box-shadow 0.6s; 
    transition: box-shadow 0.6s; 
    text-shadow: 10px 10px 10px 10px white 
}

.dark-theme .dropdown-menu{
    background-color: transparent !important; 
    border: none !important;
}

/* DisplayWord */
.dark-theme h2 { 
    font-size: 48px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent !important;
    color: white !important;
    transition: all .3s ease-in-out;
    border-color: white;
    text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green
}
    
/* definition */
.dark-theme h2 p {
    font-size: 36px !important;
    border-radius: 1px;
    cursor: pointer;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent !important;
    color: white !important;
    transition: all .3s ease-in-out;
    border-color: white;
    text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green
 }    

 .dark-theme footer {
    background-image: url("../assets/giphy\ developers\ background\ api\ gif.gif");
    color: aqua;
    text-align: center;
    height: 192px;
}

