.light-theme {
    background-color: white;
  }

/* logo */
.light-theme h1 {
    font-size: 72px;
    border-radius: 2px;
    cursor:pointer;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent !important;
    color: green !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hotpink, 0 0 40px hotpink, 0 0 50px hotpink, 0 0 60px hotpink, 0 0 70px hotpink
}

.light-theme input {
    border-color: yellow;
  }

/* buttons */
.light-theme button {
    font-size: 12px;
    border-radius: 2px;
    cursor:pointer;
    font-family: 'astro', Fallback, sans-serif;
    background-color: #1d1d25 !important;
    border: 0.5px solid white !important;
    color: white !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: inset 0px 0px 8px 3px white; 
    box-shadow: 0px 0px 5px 1px white, inset 0px 0px 5px 0px white;
    -webkit-transition: box-shadow 0.6s; 
    transition: box-shadow 0.6s; 
    text-shadow: 10px 10px 10px 10px white 
}


/* DisplayWord */
.light-theme h2 { 
    font-size: 40px;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent!important;
    border: #ec0a61;
    color: white !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: 0 0 10px #ec0a61, 0 0 20px #ec0a61, 0 0 30px #ec0a61, 0 0 41px #ec0a61, 0 0 50px #ec0a61, 0 0 60px #ec0a61, 0 0 70px #ec0a61;
}
    
/* definition */
.light-theme h3 {
    font-size: 30px;
    border-radius: 2px;
    cursor:pointer;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent !important;
    color: white !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-color: #fff;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white */
 }    

/* footer */
.light-theme footer {
    background-color: darkcyan;
    color: white;
    text-align: center;
}  



