.light-theme {
    background-color: white;
}

/* logo */

.light-theme .placeholder {
    height: calc(100vh - 430px);
    /* width: calc(100vh - 304px); */
  }

.light-theme h1 {
    color: transparent;
    background: url("../assets/old_logo.gif");
    background-repeat: no-repeat;
    background-size: contain;
    /* font-size: 72px; */
    /* background-image: url("../assets/old_logo.gif"); */
}

/* search field border */

.light-theme input {
    border-color: aqua ;
    -webkit-box-shadow: inset 0px 0px 8px 3px aqua;
    box-shadow: 0px 0px 5px 1px aqua, inset 0px 0px 5px 0px aqua;
    -webkit-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s;
    text-shadow: 10px 10px 10px 10px aqua
}

/* buttons */

.light-theme button {
    font-size: 12px;
    /* border-radius: 2px; */
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #63ebf0 !important;
    border: 0.5px solid rgb(98, 0, 255) !important;
    color: black !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /* -webkit-box-shadow: inset 0px 0px 8px 3px aqua;
    box-shadow: 0px 0px 5px 1px aqua, inset 0px 0px 5px 0px aqua;
    -webkit-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s;
    text-shadow: 10px 10px 10px 10px aqua */
}

/* DisplayWord */

.light-theme h2  {
    font-size: 50px;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent!important;
    border: #e40aec;
    color: white !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: 0 0 10px #e40aec, 0 0 20px #e40aec, 0 0 30px #e40aec, 0 0 41px #e40aec, 0 0 50px #e40aec, 0 0 60px #e40aec, 0 0 70px #e40aec;
}

/* definition */

.light-theme h2 p{
    font-size: 30px;
    font-family: 'BeonMedium', Fallback, sans-serif;
    background-color: transparent!important;
    /* border: #ec4747; */
    color: #c8ec47 !important;
    /* -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; */
    text-shadow: 0 0 0px !important ; 
}

/* footer */

.light-theme footer {
    background-image: url("../assets/giphy\ developers\ background\ api\ gif.gif");
    color: aqua;
    text-align: center;
    height: 192px;
}

